---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About - Quentin Vigier" description="About Quentin VIgier">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Venez découvrir mon parcours et mes compétences."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.png"
					alt="Quentin VIgier au travail"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						D'une formation initiale en commerce, j'ai choisi de me réorienter dans le domaine du développement à la suite de mon Master 1.
						J'ai eu l'occasion d'en apprendre les bases au cours de mon cursus en école de Commerce ce qui m'a décidé à m'orienter vers cette voie
						plutôt que ma voie initiale. 
					</p>
					<p>
						Ce qui me caractérise le plus c'est ma capacité d'adaptation que ce soit à de nouveaux environnements, de nouvelles technologies ou méthodes
						de travail. Je suis sans cesse à la recherche de nouvelles choses à apprendre ou à pérfectionner mes compétences
					</p>
					<p>
						D'une nature patiente et ouverte, j'accorde de l'importance au travail d'équipe, à la communication ainsi qu'au partage de connaissances.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>BAC+2 Développeur Web et Web Mobile (Titre RNCP), Master 1 ISC Paris - Master Management des Systèmes
						d’Informations - Entrepreunarial Track.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Curieux, Créatif, Autonome, Organisé, Polyvalent, Team Work</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Me Contacter</h2>
				<div class="content">
					<p>vigierquentinpro@gmail.com</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
